/**************************
Name: Gabriela Andrade
Floração Design
Purpose: This program will render the base styles for a properly structured mobile-friendly, 
mobile-first, responsive portfolio website, Floração Design.
**************************/

/* Navigation Styles */
.navbar {
    background-color: rgb(12, 91, 87);
}

.navbar-brand {
    max-height: 100px;
}

.hdrimg {
    max-height: 90px;
}

/* Footer Styles */
footer {
    background-color: rgb(12, 91, 87);
}
.fterImg {
    max-height: 50px;
}