/**************************
Name: Gabriela Andrade
Floração Design
Purpose: This program will render the base styles for a properly structured mobile-friendly, 
mobile-first, responsive portfolio website, Floração Design.
**************************/

/* Custom Fonts */
@charset "utf-8";
@font-face {
   font-family: 'Dream Orphans';
   src: url("resources/dreamOrphans.otf");
}
@font-face {
   font-family: 'Dream Orphans';
   src: url("resources/dreamOrphansBd.otf");
   font-weight: bold;
}
@font-face {
   font-family: 'Dream Orphans';
   src: url("resources/dreamOrphansIt.otf");
   font-style: italic;
}
@font-face {
   font-family: 'Dream Orphans';
   src: url("resources/dreamOrphansBdIt.otf");
   font-weight: bold;
   font-style: italic;
}

/* Navigation Styles */
.navbar {
    background-color: rgb(38, 153, 224);
}

.navbar-brand {
    max-height: 100px;
}

.hdrimg {
    max-height: 90px;
}

.site-title {
    font-family: 'Dream Orphans', Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 0.75rem;
}

.nav-link {
    font-variant: small-caps;
}

/* Section Styles */
.bodydiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.folio-title {
    color:rgb(13, 74, 112);
}

.shade-light {
    background-color: rgb(38, 153, 224);
}

.shade-dark {
    background-color: rgb(13, 74, 112);
}

.transparent {
    background-color: rgba(255, 255, 255, 0);
}

/* Button Styles */
.btn {
    font-variant: small-caps;
}

.btn-primary {
    background-color: rgb(38, 153, 224);
    --bs-btn-border-color: rgb(38, 153, 224);
    --bs-btn-hover-bg:rgb(13, 74, 112);
    --bs-btn-hover-border-color: rgb(13, 74, 112);
}

/* Footer Styles */
footer {
    background-color: rgb(38, 153, 224);
    color: white;
}
.fterImg {
    max-height: 50px;
}