<!--------------------------
Name: Gabriela Andrade
Floração Design
Purpose: This template will render the card elements within the
portfolio featured on the Floração website. It will include the
card img, card description, creation date, and call to action 
button.
--------------------------->

<div class="col">
    <div class="card h-100">
        <!-- {{crdimg}} and {{imgalt}} are Mustache variables and will be replaced
        with the value from the associative array value from title.php-->
        <img src="{{crdimg}}" class="card-img-top" alt="{{imgalt}}">
        <div class="card-body">
            <!-- {{crdtitle}}, {{crddate}}, and {{crdtxt}} are Mustache variables and will
            be replaced with the value from the associative array value from title.php-->
            <h5 class="card-title">{{crdtitle}}</h5>
            <p class="card-text text-muted">{{crddate}}</p>
            <p class="card-text">{{crdtxt}}</p>
        </div>
        <div class="card-footer">
            <!-- {{crdlink}} is a Mustache variable and will be replaced
            with the value from the associative array value from title.php-->
            <a class="button" href="{{crdlink}}" target="_blank"> view site </a>
        </div>
    </div>
</div>