<!--------------------------
Name: Gabriela Andrade
Floração Design
Purpose: This template will render the document "footer" of each page
of the Floração website. It will include the document footer and all
universal scripts for the pages.
--------------------------->

<footer class="text-center py-3 mt-5">
    <!-- {{footertitle}} is a Mustache variable and will be replaced
    with the value from the associative array value from index.php-->
    <span class="page-title">{{footertitle}}</span>
    <h6 class="site-title py-3">floração</h6>
    <img class="fterImg" src="images/flor_logo.png" /> 
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>