<!--------------------------
Name: Gabriela Andrade
Floração Design
Purpose: This template will render the document "header" of each page
of the Floração website. It will include the document head and the
navbar for the pages.
--------------------------->
<!DOCTYPE html>
<html lang="eng-US">
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta name="Author" content="Gabriela Andrade">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="css/main.css" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/ico">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand site-title" href="index.php">
                    <img src="images/flor_logo.png" alt="Home" class="d-inline-block align-text-top hdrimg"/>
                    floração
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" id="navindx" aria-current="page" href="index.php">home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="navabt" href="about.php">about the designer</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="navport" href="portfolio.php">portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="navexp" href="workexp.php">work experience</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>