/**************************
Name: Gabriela Andrade
Floração Design
Purpose: This program will render the base styles for the launch page
of the fictional startup app, tindog.
**************************/

/* Navigation Styles */
.site-title {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.navbar {
    background-color: rgb(3, 203, 219);
}

.nav-link {
    font-size: 1.5em;
    color: whitesmoke;
}

.nav-link:hover {
    color:rgb(3, 174, 187)
}

/* Section Styles */
.shade {
    background-color: rgb(3, 203, 219);
    color: white;
}

.bodydiv {
    width: 80%;
}

#intro {
    margin-top: 30%;
    font-size: 3em;
}

.card {
    border: none;
}

/* Image Styles */
#mockup {
    max-width: 100%;
}