/**************************
Name: Gabriela Andrade
Floração Design
Purpose: This program will render the base styles for the launch page
of the fictional startup app, tindog.
**************************/

/* Navigation Styles */
.site-title {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.navbar {
    background-color: rgb(3, 203, 219);
}

.nav-link {
    font-size: 1.5em;
    color: whitesmoke;
}

.nav-link:hover {
    color:rgb(5, 161, 186);
}

/* Section Styles */
.shade {
    background-color: rgb(3, 203, 219);
    color: white;
}

.bodydiv {
    width: 80%;
}

#intro {
    margin-top: 30%;
    font-size: 3em;
}

.card {
    border: none;
}

.card-title {
    font-weight: bold;
    font-size: 1.5em;
}

.review {
    text-align: center;
    color: white;
}

.revtext {
    font-size: 1.75em;
    font-weight: bold;
}

.revowner {
    font-style: italic;
    font-size: 1.2em;
}

/* Image Styles */
#mockup {
    max-width: 100%;
}

.revimg {
    max-width: 80px;
    border-radius: 100%;
}