@charset "utf-8";

/*
   ITSE 1301 Web Design Tools
   Final Project
   
   Filename: andradegabriela_styles5.css

*/

/* Styles for the Floração Design Reference Links page */

h2 {
   margin-top: 3%;
   padding-left: 10%;
}

table {
   width: 100%;
   padding: 5%;
}

th {
   text-align: center;
   background: rgb(12, 91, 87);
   color: rgb(218, 234, 232);
   font-size: 1.2em;
   padding-top: 15px;
   padding-bottom: 15px;
}

tbody th {
   font-weight: normal;
}

td {
   color: rgb(12, 91, 87);
   padding: 5px;
}

tr.dark {
   background: rgba(8, 143, 143, 0.3);
}

tfoot {
   text-align: center;
}

caption {
   caption-side: bottom;
}


/* ===============================
	Mobile and Tablet Devices: 0 to 796px 
   ===============================
*/
@media only screen and (max-width:796px) {
   nav.horizontal ul {
        display: none;
   }
   
   nav.horizontal ul, nav.horizontal li, nav.horizontal a {
      width: 100%;
   }
}

