@charset "utf-8";

/*
   ITSE 1301 Web Design Tools
   Final Project
   
   Filename: floracao_layout.css

*/


/* HTML and Body Styles */
body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}


/* Header Styles */
header {
    width: 100%;
    padding-top: 5px;
}

div#banner {
    width: 100%;
}

img#logoicon {
    padding-left: 1%;
    width: 20%;
}

img#title {
    max-height: 250px;
    width: 75%;
}

/* Horizontal Navigation List Styles */

nav.horizontal ul {
    display:-webkit-flex;
    display: flex;
}

nav.horizontal li {
    width: 20%;
}

nav.horizontal a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

a#navicon {
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Article Styles */
article {
    width: 100%;
}

/* Footer Styles */
footer {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    clear: both;
}