@charset "utf-8";

/*
   Floração Design Website
   
   Filename: floracao_styles4.css

*/

/* Styles for the Floração Design Work Experience page */


/* Body styles */
body {
    background-image: url(../images/bg1.png);
}

/* Summary styles */
div#summary {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   padding: 2%;
   background: rgb(218, 234, 232);
   border-radius: 15px 15px 15px 15px;
}

div#summaryLinks {
   width: 35%;
   float: left;
}

img#myname {
   width: 100%;
}

img.linkIcon {
   width: 29.3%;
   padding-left: 2%;
   padding-right: 2%;
}

div#summaryText {
   width:60%;
   float:left;
   color: rgb(12, 91, 87);
}

div#summaryText h4 {
   font-size: 1.3em;
}

div#summaryText hr {
   border-color: rgb(224, 196, 30);
}

/* Footer Styles */
footer {
   color: rgb(12, 91, 87);
}

/* ===============================
	Mobile and Tablet Devices: 0 to 796px 
   ===============================
*/
@media only screen and (max-width:796px) {
   nav.horizontal ul {
        display: none;
   }
   
   nav.horizontal ul, nav.horizontal li, nav.horizontal a {
      width: 100%;
   }
}