@charset "utf-8";
@font-face {
   font-family: 'Dream Orphans';
   src: url("../resources/dreamOrphans.otf");
}
@font-face {
   font-family: 'Dream Orphans';
   src: url("../resources/dreamOrphansBd.otf");
   font-weight: bold;
}
@font-face {
   font-family: 'Dream Orphans';
   src: url("../resources/dreamOrphansIt.otf");
   font-style: italic;
}
@font-face {
   font-family: 'Dream Orphans';
   src: url("../resources/dreamOrphansBdIt.otf");
   font-weight: bold;
   font-style: italic;
}

/***************************
Author: Gabriela Andrade
Floração Base Styles
Purpose: Establishes base styles for Floração website.
***************************/


/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
   display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   background: transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;  
}


/* Set the default page element styles */

/* Default Body and Header Styles */

body {
   line-height: 1.2em;
   font-family: Helvetica, Arial, Verdana, sans-serif;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

header {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   max-height: 100px;
   width: 100%;
   padding-top: 1%;
   padding-bottom: 1%;
}

#siteTitle {
   display: flex;
   align-items: center;
   color:rgb(8, 143, 143);
   font-family: 'Dream Orphans', Helvetica, Arial, Verdana, sans-serif;
   font-size: 1.5em;
   line-height: 1.5em;
   letter-spacing: 0.75rem;
}

#siteTitle span {
   padding-left: 5%;
}

img#logoicon {
   padding-left: 1%;
   height: 100%;
   max-height: 90px;
}
   

/* Default Navigation Styles */

nav ul {
   list-style: none;
   list-style-image: none;
}

nav.horizontal li {
   text-align: center;
   letter-spacing: 0.25em;
   font-variant: small-caps;
}


nav a {
   text-decoration: none;
   font-size: 1.6em;
   height: 100%;
}

nav a:active, nav a:link, nav a:visited {
   color: rgb(8, 143, 143);
}

nav a:hover {
   color: rgb(12, 91, 87);
   font-weight: bold;
}

/* Horizontal Navigation List Styles */

nav.horizontal ul {
   display:-webkit-flex;
   display: flex;
   align-items: center;
}

nav.horizontal li {
   width: 25%;
}

nav.horizontal a {
   display: block;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

a#navicon {
   max-width: 50px;
   margin-left: auto;
   margin-right: auto;
}

.row::after {
   clear: both;
   content: "";
   display: table;
}

/* Default Heading Styles */

h1 {
   font-size: 3.75em;
   font-weight: bold;
   color: rgb(224, 196, 30);
   line-height: 1.25em;
   padding-bottom: 10px;
}

h2 {
   font-size: 3em;
   font-weight: bold;
   color: rgb(12, 91, 87);
   line-height: 1.25em;
}

h3 {
   font-size: 1.75em;
   font-weight: normal;
   color: rgb(218, 234, 232);
   line-height: 1.5em;
}

article {
   padding: 5%;
   width: 100%;
}

/* Default Footer Styles */
footer {
   text-align: center;
   background-color: rgb(12, 91, 87);
   color: rgb(218, 234, 232);
   width: 100%;
   padding-top: 2%;
   padding-bottom: 2%;
   clear: both;
}

/* ===============================
	Mobile and Tablet Devices: 0 to 796px 
   ===============================
*/
@media only screen and (max-width:796px) {
   nav.horizontal ul {
        display: none;
   }
    
   nav.horizontal li {
      width: 100%;
   }
    
   a#navicon:hover+ul, nav.horizontal ul:hover {
        display: block;
   }

   nav.horizontal ul, nav.horizontal li, nav.horizontal a {
      width: 100%;
    }
   
   h1 {
      font-size: 3em;
   }
   
   h2 {
      font-size: 2.5em;
   }
   
   h3 {
      font-size: 1.5em;
   }
}
  
  /* ============================================
	Desktop Devices: 797px or more 
   ============================================
*/
@media only screen and (min-width:797px) {
   a#navicon {
        display: none;
    }
    nav.horizontal ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    nav.horizontal ul li {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    
}