@charset "utf-8";

/***************************
Author: Gabriela Andrade
Floração Home Styles
Purpose: Establishes styles for Floração homepage.
***************************/

/* Styles for the Floração Design homepage */

/* Welcome Message Styles */
#welcome {
  padding-top: 5%;
  background: rgb(12, 91, 87);
  width: 100%;
}

#welcome h1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
