@charset "utf-8";

/*
   Floração Design Website
   
   Filename: floracao_styles4.css

*/

/* Styles for the Floração Design Work Experience page */


/* Body styles */
body {
    background-image: url(../images/bg1.png);
}

/* Summary styles */
div#summary {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   padding: 2%;
   background: rgb(218, 234, 232);
   border-radius: 15px 15px 15px 15px;
}

div#summaryLinks {
   width: 35%;
   float: left;
   display: flex;
   display: -webkit-flex;
   flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
   justify-content: center;
}

img#myname {
   width: 100%;
}

img.linkIcon {
   max-width: 50px;
   max-height: 50px;
}

img.linkIcon:first-of-type {
   margin-right: 5px;
}

img.linkIcon:last-of-type{
   margin-left: 5px;
}

div#summaryText {
   width:60%;
   float:left;
   color: rgb(12, 91, 87);
   padding-top: 1.5%;
   padding-left: 1%;
}

div#summaryText h4 {
   font-size: 1.3em;
}

div#summaryText hr {
   border-color: rgb(224, 196, 30);
}

/* Footer Styles */
footer {
   color: rgb(12, 91, 87);
}

/* =====================================
	Mobile and Tablet Devices: 0 to 796px 
   =====================================
*/
@media only screen and (max-width:796px) {
   nav.horizontal ul {
        display: none;
   }
   
   nav.horizontal ul, nav.horizontal li, nav.horizontal a {
      width: 100%;
   }

   div#summaryLinks, div#summaryText {
      width: 100%;
   }
}

/* =========================================
	Large Desktop Screens: 1000px and greater
   =========================================
*/
@media only screen and (min-width:1000px) {
   img.linkIcon:first-of-type {
      margin-right: 15px;
   }
   
   img.linkIcon:last-of-type{
      margin-left: 15px;
   }
}